<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.templateParameters.css[0] %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="<%= htmlWebpackPlugin.options.templateParameters.js[0] %>"></script>
  </head>
  <body>
    <div id="app"></div>
    <script src="<%= htmlWebpackPlugin.options.templateParameters.js[1] %>"></script>
  </body>
</html>
